<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>This is the title.</title>
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
  Our favorite type of dog is {{ meta.breed }} {{ "5000"|intcomma }}.
</body>
</html>
