<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is the title.</title>
    <link rel="stylesheet" href="{% static 'styles/main.scss' %}">
    {% script 'app' %}
  </head>
  <body>
    {% include 'header.njk' %}
    {% include 'extra.njk' %}
    {% block content %}{% endblock content %}
  </body>
</html>
