@import 'variables';
@import 'type';

body {
  background-color: $color;
  font-family: $font-family;
}

.bg-image {
  background-image: static-url('assets/images/corgi.jpg');
  width: 400px;
  height: 400px;
}
